<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginservlet</servlet-name>
        <servlet-class>loginservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addition</servlet-name>
        <servlet-class>addition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>demoservlet</servlet-name>
        <servlet-class>demoservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertData</servlet-name>
        <servlet-class>insertData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrationservlet</servlet-name>
        <servlet-class>registrationservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profile</servlet-name>
        <servlet-class>profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet111</servlet-name>
        <servlet-class>NewServlet111</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>redirect</servlet-name>
        <servlet-class>redirect</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginservlet</servlet-name>
        <url-pattern>/loginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addition</servlet-name>
        <url-pattern>/addition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demoservlet</servlet-name>
        <url-pattern>/demoservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertData</servlet-name>
        <url-pattern>/insertData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrationservlet</servlet-name>
        <url-pattern>/registrationservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet111</servlet-name>
        <url-pattern>/NewServlet111</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>redirect</servlet-name>
        <url-pattern>/redirect</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
